# Rust
/target/
Cargo.lock.bak

# sqlx offline cache (commit `.sqlx/` quand tu en auras besoin)
# /.sqlx/

# Postgres local (créé par `just db-init`)
/.pg/

# Env
.env
.env.local

# IDE
/.idea/
/.vscode/
*.swp
.DS_Store

# Nix
/.direnv/
/result
/result-*
