[submodule "data/user/projets/Hyprchroma"]
	path = data/user/projets/Hyprchroma
	url = https://github.com/RomeoCavazza/Hyprchroma.git
[submodule "data/user/projets/Hyprspace"]
	path = data/user/projets/Hyprspace
	url = git@github.com:RomeoCavazza/Hyprspace.git
[submodule "data/user/projets/dashboard"]
	path = data/user/projets/dashboard
	url = https://github.com/RomeoCavazza/dashboard.git
[submodule "data/user/projets/e-commerce"]
	path = data/user/projets/e-commerce
	url = https://github.com/RomeoCavazza/e-commerce.git
[submodule "data/user/projets/hypr-canvas"]
	path = data/user/projets/hypr-canvas
	url = https://github.com/RomeoCavazza/hypr-canvas.git
[submodule "data/user/projets/landing-page"]
	path = data/user/projets/landing-page
	url = https://github.com/RomeoCavazza/landing-page.git
[submodule "data/user/projets/no-low-code"]
	path = data/user/projets/no-low-code
	url = https://github.com/RomeoCavazza/no-low-code.git
[submodule "data/user/projets/nvim-config"]
	path = data/user/projets/nvim-config
	url = https://github.com/RomeoCavazza/nvim-config.git
[submodule "data/user/projets/piscine-epitech"]
	path = data/user/projets/piscine-epitech
	url = https://github.com/RomeoCavazza/piscine-epitech.git
[submodule "data/user/projets/setup-os"]
	path = data/user/projets/setup-os
	url = https://github.com/RomeoCavazza/setup-os.git
[submodule "data/user/projets/shellgeist"]
	path = data/user/projets/shellgeist
	url = https://github.com/RomeoCavazza/shellgeist.git
[submodule "data/user/projets/tco-core"]
	path = data/user/projets/tco-core
	url = https://github.com/RomeoCavazza/tco-core.git
[submodule "data/user/projets/ventoy-toolkit"]
	path = data/user/projets/ventoy-toolkit
	url = https://github.com/RomeoCavazza/ventoy-toolkit.git
[submodule "data/user/projets/veyl.io"]
	path = data/user/projets/veyl.io
	url = https://github.com/RomeoCavazza/veyl.io.git
