# Rust
/target/
Cargo.lock.bak

# sqlx offline cache (on l'ignore maintenant car la CI utilise un service PG)
/.sqlx/

# Postgres local (créé par `just db-init`)
/.pg/

# Env
.env
.env.local

# IDE
/.idea/
/.vscode/
*.swp
.DS_Store

# Nix
/.direnv/
/result
/result-*
/data/
.cargo/
data/
data/instances/
