# Rust
/target/
Cargo.lock.bak

# sqlx offline cache
/.sqlx/

# Postgres local
/.pg/

# Env
.env
.env.local

# IDE
/.idea/
/.vscode/
*.swp
.DS_Store

# Nix
/.direnv/
/result
/result-*

# Data
/data/*
!/data/templates/
!/data/scripts/
!/data/user/
/data/user/*
!/data/user/profil_to_upload.md
!/data/user/profile-picture.jpg
/data/instances/

.cargo/
